.contracts-index-span {
    border: 1px groove;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    padding: 2.5%;
}

.one-contract-index-span {
    border: 1px groove;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    padding: 2.5%;
}